  
* {
  box-sizing: border-box;
  font-family: "GmarketSans";
}

body {
  
  margin: 0;
}

img{
  display: block;
}
button{
  display: block;
  border: 2px solid #0188cc;
  width: 180px;
  padding: 10px;
  font-size: 1rem;
  background-color: white;
  font-weight: bold;
}
.section {
	  width: 100%;
	  height: 100%;
	  position: relative;
	}
.error {
 min-width: 1000px;
 height: 800px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.msg h1{
  color: #0188cc;
}
.msg p{
  font-size: 1.5rem;
}
/* header */
.mainHeader {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: var(--color-background);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.mainHeader__logo__img {
  width: 150px;
  padding: 0 1rem;
}


