/* Footer */
#information {
  position: relative;
  text-align: center;
  background-color: #d9d9d9;
  color: white;
  padding: 1rem;
}

.information__title {
  margin: 0;
  padding: 0.5rem 10rem;
}

.information__contents {
  display: flex;
  justify-content: space-between;
}
