/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-navy);
  --color-primary-variant: var(--color-purple);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-pink);
  --color-background: var(--color-white);

  /* Colors */
  --color-white: #ffffff;
  --color-navy: #0e4194;
  --color-blue: #0188cc;
  --color-pink: #e6007e;
  --color-purple: #662583;
  --color-gray: #a6a6a6;

  /* Size */
  --size-max-width: 1200px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "GmarketSans";
  margin: 0;
}

/* common */
.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}

/* Login */
#login {
  display: flex;
  height: 745px;
  width: 100%;
}

.login {
  display: block;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  padding: 40px;
  width: 450px;
  border: 3px solid var(--color-accent);
  border-radius: 50px;
}

.login__label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.login__error {
  color: red;
  margin: 1rem 0;
}

.login__input {
  display: block;
  margin: 5px 0;
  width: 95%;
  padding: 10px;
  border: 3px solid var(--color-primary);
  border-radius: 4px;
  font-size: 1rem;
}

#login__form {
  margin: 0;
}

.login__signup__button {
  display: flex;
  padding: 0 10px;
  margin-bottom: 1rem;
}

.login__button {
  width: 100%;
  height: 40px;
  margin: 0 1rem;
  font-size: 20px;
  border-radius: 4px;
  border: none;
  color: var(--color-background);
  background-color: var(--color-primary);
  transition: all 0.15s linear;
}

.login__button:hover {
  background-color: var(--color-accent);
}

.signup__button {
  width: 100%;
  height: 40px;
  margin: 0 1rem;
  font-size: 20px;
  border-radius: 4px;
  border: none;
  color: var(--color-background);
  background-color: var(--color-gray);
  transition: all 0.15s linear;
}

.signup__button:hover {
  background-color: var(--color-accent);
}

/* Footer */
#information {
  position: relative;
  text-align: center;
  background-color: #d9d9d9;
  color: white;
  padding: 1rem;
}

.information__title {
  margin: 0;
  padding: 0.5rem 10rem;
}

.information__contents {
  display: flex;
  justify-content: space-between;
}
