:root {
    /* App Colors */
    --color-primary: var(--color-navy);
    --color-primary-variant: var(--color-purple);
    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-pink);
    --color-background: var(--color-white);
  
    /* Colors */
    --color-white: #ffffff;
    --color-navy: #0e4194;
    --color-blue: #0188cc;
    --color-pink: #e6007e;
    --color-purple: #662583;
    --color-gray: #a6a6a6;
  
    /* Size */
    --size-max-width: 1200px;
  }


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1.5px;
    font-family: 'GmarketSans', serif;
}
html {
  overflow: hidden;
}
html, body {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  
}
body {
  font-family: "GmarketSans";
  margin: 0;
}

button {
    display: inline-block;
}
body a {
    text-decoration: none;
}
.mainHeader__nav a{
	color: black;
	text-decoration: none;
}

#section1 video {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; */
  pointer-events: none; /* 비디오 요소가 클릭 이벤트를 가로채지 않도록 설정 */
  width: 145%;
            height: auto;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
}
.section {
  width: 100%;
  height: 100%;
  position: relative;
}
#section1{
    margin-top: 45px;
    /* 3rem 나중에 바꾸기 */
    
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: relative;
    
}
#section2 {
  background-color: #eeeeee;
}
ul {
    list-style: none;
    padding: 0;
  }
  
 

#busanExplain{
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 10%;
}
#btnGroup{
  position: absolute;
  top: 30%;
  left: 30%;
  font-size: 2rem;
  
}
#btnGroup a{
 color: white;
 text-decoration: none;
}
.category{
    margin-top: 10px;
    margin-left: 50px;
    width: 200px;
    height: 200px;
    padding: 5px;
    border-radius: 50%;
    background-color: #0188CC;
    border: 0px;
    color: white;
    
}
.category:hover{
    
    background-color: #0E4194;
    

}
.listCategory{
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
        width: 550px; 
        height: 100vh; 
        background: #0E4194; 
        position: fixed; 
        z-index: 5;
        color: white;
        right: 0;
        text-align: right;
      /*  애니메이션시작화면 */
        transition : all 0.5s;
        transform: translateX(550px);
}
.goCategory{
  line-height: 80px;
  
  padding: 10px;
}
.goCategory button{
  border: 0;
  background-color: transparent;
  color: white;
}
.goCategory:hover{
  transform: translateX(-50px);

}
.left:hover{
}

.show-list{
  transition : all 0.5s;
  transform: translateX(0px);
}
.listCategoryContent{
  font-size: 2.5rem;
  
}

/* Footer */
#information {
  position: relative;
  text-align: center;
  /* background-color: #d9d9d9; */
  /* color: grey; */
  color: white;
  background-color: #333333;
  opacity: 0.9;
  padding: 1rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#information a{
  color: white;
}
.information__title {
  /* margin-top: 3rem; */
  margin: 0;
  padding: 0.5rem 10rem;
  
}
.information__located{
  width: 1000px;
}

.footer__logo_img{
    width: 200px;
    padding: 0 1rem;
}
.bi-arrow-up-circle-fill {
  font-size: 3rem;
}
/* Footer End========================================*/


#submit {
  /* border-radius: 20px; */
  border: 0px;
  background-color: #0188CC;
  transition : all 0.5s;
  color: white;

}
#submit:hover {
  border-radius: 20px;
  border: 0px;
  transition : all 0.5s;
  color: white;

  background-color: #0188CC;

}
.close {
  width: 50px;
  height: 50px;
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 40px;
  width: 5px;
  background-color: #ffffff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/*========================= section2===================================== */
.hosiInfo{
  width: 80%;
  height: 50vh;
  /* border: 4px solid #0E4194; */
  margin: 0 auto;
}
.hosiInfo p {
 font-size: 2rem;
 text-align: center;
 color: #0E4194;
}
.gradeIcon{
  display: flex;
  
  justify-content: center;
}
.gradeImage{
 width: 250px;
  text-align: center;
}
.gradeLine{
  display: flex;
  justify-content: center;
}
.grade1, .grade2, .grade3, .grade4, .grade5{
 width: 250px;
 height: 50px;
}
.grade1{

  background-color: #e6007e;
}
.grade2{
  background-color: #0188CC;
}
.grade3{
  background-color: #662583;
}
.grade4{
  background-color: #0E4194;
  
}
.grade5{
  background-color: gold;
  
}
.gradeNameBox{
  display: flex;
  justify-content: center;

}
.gradeName{
 width: 250px;
 text-align: center;
}

/*========================= section2===================================== */

.dropdown{
  width: 280px;
  margin: 0 auto;
  cursor: pointer;
}
.btnDrop{
  border: 1px solid white;
  padding: 4px;
  color: white;
  background-color: #333333;
  opacity: 0.9;
}
.dropDownMenu{
  text-align: left;
  font-size: 1.5rem;
  visibility:  hidden;
}
.dropDownMenu a{
  color: #333333;
}
.show-dropDown{
  visibility:  visible;
}
.swiper {
  width: 100%;
  height: 600px;
}

























