.section {
	margin-top: 4rem;
	width: 100%;
	height: 100%;
	position: relative;
}
body{
	overflow: auto;
}
#map {
	min-width: 500px;
	min-height: 500px;
	width: 70%;
	height: 93vh;
	float: left;
}

#mkListResult {
	width: 30%;
	height: 100%;
	min-width: 500px;
	max-height: 90vh;
	overflow: auto;
	/* background-color: #eeeeee; */
}
/* Chrome, Whale, Edge */

#mkListResult::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

#mkListResult::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #0e4194; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

#mkListResult::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}


.mkcontainer {
	box-sizing: border-box;
	border-bottom: 1px solid #0e4194;
	min-height: 180px;
	/*padding: 5px;*/
}
.mkcontainer:hover{
    background-color: #eeeeee;
}
#howGetMarket {
	font-size: 1.5rem;
	padding: 5px;
	font-weight: bold;
	border-bottom: 2px solid #0e4194;

}

/*.mkName,
#mkaddr {
	font-size: 1.5rem;
}*/

.row {
	font-size: 1.5rem;
}

.mainHeader__nav a {
	color: black;
	text-decoration: none;
}

.goMarket{
    max-width: 300px;
    width: 160px;
    height: 40px;
    font-family: 'GmarketSans';
    position: relative;
    font-size: 20px;
    overflow: hidden;
    line-height: 40px;
}
.goMarket a{
    text-decoration: none;
    color: #e6007e;
}
.up {
    position: absolute;
    top: 0;
    left: 10px;
    max-width: 300px;
    width: 160px;
    text-align: center;
    transition: top 100ms;
    transition: transform 0.5s ease-in-out;
  }
  
  .down {

    position: absolute;
    left: 30px;
    font-size: 1.5rem;
    top: 40px; /* 초기에 숨겨진 상태 */
    transition: top 100ms;

  }
  
  .goMarket:hover .up {
    top: -40px; /* hover 상태에서 up을 위로 이동하여 숨김 */
  }
  
  .goMarket:hover .down {
    top: 0; /* hover 상태에서 down을 아래로 이동하여 표시 */
  }	
  
  .personalMcontent {
	border: 2px solid gray;
	border-collapse: collapse;
}
#information{
	clear: both;
}



#marketErrorMsg{
	
	max-height: 50px;
}
#howGetMarket{
	max-height: 100px;
}