.section {
	margin-top: 4rem;
	width: 100%;
	height: 100%;
	position: relative;
}
body{
	overflow: auto;
}
#map {
	width: 70%;
	height: 100%;
	float: left;
}

#mkListResult {
	width: 700px;
	height: 900px;
	overflow: auto;
	/* background-color: #eeeeee; */
}
/* Chrome, Whale, Edge */

#mkListResult::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

#mkListResult::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #0e4194; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

#mkListResult::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}


.mkcontainer {
	display: flex;
	border-bottom: 2px solid #0e4194;
	/*height: 150px;*/
}

#howGetMarket {
	font-size: 2rem;
	font-weight: bold;
	border-bottom: 2px solid #0e4194;

}

.mkName,
#mkaddr {
	font-size: 1.5rem;
}

.col-9 span {
	font-size: 1.5rem;
}

.mainHeader__nav a {
	color: black;
	text-decoration: none;
}

.goMarket{
    max-width: 300px;
    width: 160px;
    height: 40px;
    font-family: 'GmarketSans';
    position: relative;
    font-size: 20px;
    overflow: hidden;
    line-height: 40px;
}
.goMarket a{
    text-decoration: none;
    color: #e6007e;
}
.up {
    position: absolute;
    top: 0;
    left: 10px;
    max-width: 300px;
    width: 160px;
    text-align: center;
    transition: top 100ms;
    transition: transform 0.5s ease-in-out;
  }
  
  .down {

    position: absolute;
    left: 30px;
    font-size: 1.5rem;
    top: 40px; /* 초기에 숨겨진 상태 */
    transition: top 100ms;

  }
  
  .goMarket:hover .up {
    top: -40px; /* hover 상태에서 up을 위로 이동하여 숨김 */
  }
  
  .goMarket:hover .down {
    top: 0; /* hover 상태에서 down을 아래로 이동하여 표시 */
  }	
  
  .personalMcontent {
	border: 2px solid gray;
	border-collapse: collapse;
}



.listCategory{
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
        width: 550px; 
        height: 100vh; 
        background: #0E4194; 
        position: fixed; 
        z-index: 5;
        color: white;
        right: 0;
        text-align: right;
      /*  애니메이션시작화면 */
        transition : all 0.5s;
        transform: translateX(550px);
}
.goCategory{
  line-height: 80px;
  
  padding: 10px;
}
.goCategory a{
  border: 0;
  background-color: transparent;
  color: white;
}
.goCategory:hover{
  transform: translateX(-50px);

}

.show-list{
  transition : all 0.5s;
  transform: translateX(0px);
}
.listCategoryContent{
  font-size: 2.5rem;
  
}
.close {
  width: 50px;
  height: 50px;
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 40px;
  width: 5px;
  background-color: #ffffff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
