/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-navy);
  --color-primary-variant: var(--color-purple);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-pink);
  --color-background: var(--color-white);

  /* Colors */
  --color-white: #ffffff;
  --color-navy: #0e4194;
  --color-blue: #0188cc;
  --color-pink: #e6007e;
  --color-purple: #662583;
  --color-gray: #a6a6a6;
  --color-lightgray: #d9d9d9;
  --color-storeIcon: #635994;
  --color-postIcon: #f95725;
  --color-reviewIcon: #d4cfd8;
  --color-storeLikeIcon: #f8312f;
  --color-thumbsUp: #0866ff;
  --color-starIcon: #fcd53f;

  /* Size */
  --size-max-width: 1200px;
}

* {
  box-sizing: border-box;
  font-family: "GmarketSans";
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* common */
.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}

/* My Information */
#myinfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.mylevel {
  display: block;
  align-items: center;
  text-align: center;
  margin: 9rem 0 5rem 5rem;
  padding: 2.5rem;
  width: 500px;
  border: 3px solid var(--color-accent);
  border-radius: 30px;
}

.mylevel__info {
  display: flex;
  margin-bottom: 2rem;
  padding: 37px 0 0 0;
  justify-content: space-between;
}

.mylevel__picture {
  margin-left: 3.5rem;
}

.mylevel__name {
  font-size: 1.5rem;
  margin-right: 3rem;
}

.mylevel__grade {
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#mylevel__gage {
  padding: 0 18px;
}

.mylevel__gage {
  width: 100%;
  height: 30px;
  background-color: #f2f2f2;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}
.mylevel__gage__value {
  height: 30px;
  padding-top: 0.3rem;
  color: var(--color-background);
  border-radius: 5px;
}

.mylevel__gage__data {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.myprofile {
  display: block;
  align-items: center;
  text-align: center;
  margin: 9rem 5rem 5rem 0;
  padding: 2.5rem;
  width: 500px;
  border: 3px solid var(--color-accent);
  border-radius: 30px;
}

.myprofile__name {
  font-size: 1.5rem;
}

.modify__delete__button {
  display: flex;
  padding: 0 30px;
  margin-top: 1rem;
}

.myprofile__modify__form,
.myprofile__delete__form {
  width: 100%;
  margin: 0 1rem;
}

.myprofile__modify__button,
.myprofile__delete__button {
  width: 100%;
  padding: 5px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
  color: var(--color-background);
  transition: all 0.15s linear;
}

.myprofile__modify__button {
  background-color: var(--color-primary);
}

.myprofile__delete__button {
  background-color: var(--color-gray);
}

.myprofile__modify__button:hover {
  background-color: var(--color-accent);
}

.myprofile__delete__button:hover {
  background-color: var(--color-accent);
}

.myprofile__activity {
  display: flex;
  margin: 1rem 0;
}

.myprofile__activity2 {
  display: flex;
}

.myprofile__activity__contents {
  border: 3px solid var(--color-primary);
  width: 60%;
  padding: 4px 0 3px;
  font-size: 1.05rem;
  margin: 0 0.5rem;
}

.myStore__icon {
  color: var(--color-storeIcon);
}

.myPost__icon {
  color: var(--color-postIcon);
}

.myReview__icon {
  color: var(--color-reviewIcon);
}

.myStoreLike__icon {
  color: var(--color-storeLikeIcon);
}

/* My Activity */
#myActivity {
  width: 100%;
}

.myActivity__title {
  text-align: center;
  font-size: 2rem;
  margin: 0.9rem 0;
}

.myActivity {
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
  padding: 40px;
  margin: 0 5rem 5rem;
}

.myStore,
.myPost,
.myReview,
.myStoreLike {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.myPage__h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.myPage__table {
  width: 100%;
  table-layout: fixed;
  border-top: 2px solid var(--color-lightgray);
  border-collapse: collapse;
}

.myStore__th,
.myPost__th,
.myPost__th__title,
.myReview__th__name,
.myReview__th__star,
.myReview__th,
.myReview__th__contents,
.myReview__th__date,
.myStoreLike__th {
  border-bottom: 2px solid var(--color-lightgray);
  padding: 5px;
  text-align: center;
}

.myStore__tr:nth-child(n + 7),
.myPost__tr:nth-child(n + 7),
.myReview__tr:nth-child(n + 7),
.myStoreLike__tr:nth-child(n + 7) {
  display: none;
}

.myStore__td,
.myPost__td,
.myPost__td__title,
.myReview__td__name,
.myReview__td__star,
.myReview__td,
.myReview__td__contents,
.myReview__td__date,
.myStoreLike__td {
  border-bottom: 1px solid var(--color-lightgray);
  padding: 10px;
  text-align: center;
}

.myPost__th__title,
.myPost__td__title {
  width: 37%;
}

.myPost__thumbsUp {
  color: var(--color-thumbsUp);
}

.myReview__th__name,
.myReview__td__name {
  /* width: 25%; */
  width: 27%;
}

.myReview__th__star,
.myReview__td__star {
  width: 10%;
}

.myReview__star {
  color: var(--color-starIcon);
}

.myReview__th__contents,
.myReview__td__contents {
  /*width: 50%;*/
  width: 45%;
}

.myReview__td__contents {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.myReview__td__contents:hover {
  white-space: inherit;
}

.myStore__more,
.myPost__more,
.myReview__more,
.myStoreLike__more {
  height: 1.4rem;
  font-size: 1rem;
  margin-top: 0.3rem;
  border: none;
  border-bottom: 1px solid var(--color-gray);
  color: var(--color-gray);
  background-color: var(--color-background);
  cursor: pointer;
}

.myStore__less,
.myPost__less,
.myReview__less,
.myStoreLike__less {
  display: none;
  height: 1.4rem;
  font-size: 1rem;
  margin-top: 0.3rem;
  border: none;
  border-bottom: 1px solid var(--color-gray);
  color: var(--color-gray);
  background-color: var(--color-background);
  cursor: pointer;
}

/* Anchor */
.myPage__store,
.myPage__post,
.myPage__review,
.myPage__storeLike,
.myPage__arrow-up {
  background-color: var(--color-background);
  text-decoration: none;
  position: fixed;
  right: 3rem;
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  text-align: center;
  box-shadow: var(--color-gray) 0px 3px 8px;
  transition: all 300ms ease-in;
}

.myPage__store {
  bottom: 44.25rem;
}

.myPage__post {
  bottom: 40.25rem;
}

.myPage__review {
  bottom: 36.25rem;
}

.myPage__storeLike {
  bottom: 32.25rem;
}

.myPage__arrow-up {
  bottom: 28.25rem;
}

.store__icon,
.arrow-up__icon {
  padding: 0.7rem 0;
}

.myStore__menu {
  color: var(--color-storeIcon);
}

.myPost__menu {
  color: var(--color-postIcon);
}

.myReview__menu {
  color: var(--color-reviewIcon);
}

.myStoreLike__menu {
  color: var(--color-storeLikeIcon);
}

.myPage__store__info,
.myPage__post__info,
.myPage__review__info,
.myPage__storeLike__info,
.myPage__arrow-up__info {
  opacity: 0;
  position: fixed;
  right: 7rem;
}

.myPage__store__info {
  bottom: 45rem;
}

.myPage__post__info {
  bottom: 41rem;
}

.myPage__review__info {
  bottom: 37rem;
}

.myPage__storeLike__info {
  bottom: 33rem;
}

.myPage__arrow-up__info {
  bottom: 29rem;
}

.myPage__store:hover,
.myPage__post:hover,
.myPage__review:hover,
.myPage__storeLike:hover,
.myPage__arrow-up:hover {
  width: 3.5rem;
  height: 3.5rem;
}

.myPage__store:hover ~ .myPage__store__info,
.myPage__post:hover ~ .myPage__post__info,
.myPage__review:hover ~ .myPage__review__info,
.myPage__storeLike:hover ~ .myPage__storeLike__info,
.myPage__arrow-up:hover ~ .myPage__arrow-up__info {
  opacity: 1;
  transition: all 200ms ease-in;
}
