
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.section {
    width: 100%;
    height: 100%;
    position: relative;
  }
  #section1{
      margin-top: 3rem;
      padding-top: 10px;
      width: 100%;
      height: 100%;
      position: relative;
      
  }

a{
    text-decoration: none;
}
td a{
	 text-decoration: none;
	 color: black;
}
td,tr{
	text-align: center;
}
button {
	display: inline-block;
}
.container img{
	text-align: center;
	
}
#postlistTable th,
#postlistTable td {
  border-bottom: 1px solid #0e4194;
}

#postlistTable {
  border-collapse: collapse;
}
.list {
    display: flex;
   
   
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #0188CC;
}
/*.list::after {
    content: '';
    display: block;
    clear: both;
}*/
.list button{
	 display: block;
    padding: 10px 20px 10px 20px;
    float: left;
   margin-bottom: 2px;
    margin-left: 2px;
    color: grey;
    text-decoration: none;
    border: 0px;
    font-weight: bold;
    
}
.list button:hover{
    background-color: #0188CC;
    border-radius: 10px;
    color: black;
    
}
.tab-button {
    display: block;
    padding: 10px 20px 10px 20px;
    float: left;
    margin-right: -1px;
    margin-bottom: -1px;
    color: grey;
    text-decoration: none;
    cursor: pointer;
}
.tab-button:hover{
    background-color: #0188CC;
    border-radius: 10px;
    color: black;
    
}
.orange {
    
    border-bottom: 1px solid white;
    background-color: #0188CC;
    border-radius: 10px;
    color: black;
    margin-top: -2px;
}
.tab-content {
    display: none;
    padding: 10px;
    

}
#tab-contentBox{
    border-bottom: 1px solid #0188CC;
  
}
.commentBox{
    display: flex;
}

.show-more{
    display: block;

}

.firstShow{
    width: 700px;
    height: 500px;
    margin: 0 auto;
    background-image: url(../images/보고.PNG);
        background-size: 100% 100%;

}

.form-hide{
    display: none;
}

#tabCategory{
    color: gray;
}
#btnDown{
    background-color: white;
    border: 0;
}
.commentBox{
    border-top: 1px solid #0188CC;

}
.commentList{
border-bottom: 1px solid #0188CC;
}
#commentInput{
    width: 800px;
}
#btnPost{
    float: right;
}

  
  .show {
    display: block;
  }
  
  .left{
    display: flex;
    
  }

#mkName{
    font-size: 40px;
}
#submit{
    width: 100px;
    height: 40px;
    text-align: center;
}
.submitBox{
    text-align: center;

}

#writePost{
    width: 100px;
    border: 0;
    font-size: 20px;
    border-radius: 5px;
    background-color: #0188CC;
    color: white;
}

.mkNameList{
    position: absolute;
    width: 1400px;
    visibility: hidden;
    opacity: 0;
    background-color: white;
}
.mkNameList span{
    margin-left: 20px;
}


.show-mkNameList{
  
    visibility: visible;
    opacity: 1;
    
}
#btnUp{
    border: 0;
    background-color: white;
}
.commentBox button{
    width: 80px;
    border: 0;
    background-color: #0188CC;
}
.commentList #submit{
    width: 80px;
    height: 40px;
    border: 0;
    background-color: #0188CC;
}
#delete{
    width: 80px;
    height: 40px;
    border: 0;
    background-color: #eeeeee;
}
#postModify{
    width: 80px;
    height: 40px;
    border: 0;
    background-color: #eeeeee;
}
.btn-primary{
    background-color: #0e4194;
}
#mno {
	border-radius: 2px;
	background-color: gray;
	color: white;
	border: 0px;
	padding: 2px;
	font-size: 1.05rem;
	text-align: left;
	margin-bottom: 2px;
}
#mno:hover {
	background-color: #0e4194;
}
#whatMarket{
	border-radius: 2px;
	background-color: #0e4194;
	color: white;
	border: 0px;
	padding: 1px;
	font-size: 1.05rem;
}
th {
    min-width: 100px; 
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #0e4194;     
    }
.ptitle {
	 padding: 5px;
	text-align: left;
	min-width: 600px; 
    
}

.postHeader h4{
	color: #0e4194;
}
.likeComment{
	float: right;
}
.likeComment::after{
	clear: both;
}
