/* Chrome, Whale, Edge */

.right::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

.right::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #0e4194; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

.right::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}
.section {
    margin-top: 75px;
    width: 100%;
    height: 100%;
    position: relative;
  }
.app{
    display: flex;
    height:1027px;   

}
#map{
    width:70%; 
    float: left;
}

.plusStore{
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 50%;
    color: white;
    font-size: 35px;
    line-height: 35px;
    background-color: #e6007e;
    z-index: 9;
    position: absolute;
    right: 10px;
    bottom: 10px;
    transition: all 0.5s;
}

button{
    display: inline-block;
    cursor: pointer;

}
.right{
    border-left: 2px solid #0e4194;
    width: 30%;
    height: 1020px;
    overflow: auto;
    /* background-color: #eeeeee; */
}

/*#information{
    clear: both;
}*/
.mkcontainer{
    display: flex;
    border-bottom: 2px solid #0e4194;
}
#mkSearchName{
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 2px solid #0e4194;

}
#mkName, #mkaddr{
    font-size: 1.5rem;
}
.searchResultName{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

   

}
.searchResultName h4{
    font-size: 40px;
}

#toPost{
    padding: 5px;
    
    border-radius: 10px;
    
    width: 150px;
    height: 50px;
    background-color: #e6007e;
    border: 0;
    margin-left: 10px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0px 5px 0px 0px pink;
}
#toPost a{
	font-size: 35px;
	color: white;
	text-decoration: none;
}


#toPost:hover{
    transform: rotate(15deg);
    animation: rotateAnimation 0.5s ease-in-out infinite;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(15deg);
    }
}

.btnSort{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #0e4194;
}
.btnSort button {
    padding: 2px;
    width: 200px;
    background-color: #0e4194;
    color: white;
    margin-left: 20px;
    font-size: 1.5rem;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.insertStoreContainer{
    display: flex;
   justify-content: center;
    
}

#mkImg img{
    width: 300px;

}
#mkListResult{
    overflow: auto;
}
.iwContent{
    width: 120px;
    height: 40px;
    /* background-color: #e6007e; */
    position: relative;
    text-align: center;
    font-size: 2rem;
    overflow: hidden;
   
    line-height: 40px;
}
.iwContent a{
    text-decoration: none;
    color: #e6007e;
    
}
.up {
    position: absolute;
    top: 0;
    left: 45px;
    
    transition: top 100ms;
    transition: transform 0.5s ease-in-out;
    animation: rotateAnimation 0.5s ease-in-out infinite;
  }
  
  .down {
    position: absolute;
    left: 10px;
    font-size: 1.5rem;
    
    top: 40px; /* 초기에 숨겨진 상태 */
    transition: top 100ms;

  }
  
  .iwContent:hover .up {
    top: -40px; /* hover 상태에서 up을 위로 이동하여 숨김 */
  }
  
  .iwContent:hover .down {
    top: 0; /* hover 상태에서 down을 아래로 이동하여 표시 */
  }
.infoContent{
    width: 350px;
    padding: 5px;
    /* background-color: #eeeeee; */
}
.infoContent h4{
    text-align: center;
}
.infoContent a{
    display: inline-block;
    /* font-family: 'GmarketSans'; */
    margin-left: 5px;
    background-color: #0e4194;
    color: white;
    border: 0px;
    font-size: 14px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    line-height: 40px;
    text-decoration: none;
}
.countContainer{
    display: flex;
}
.btnContainer{
    text-align: center;
}

.fa-heart{
    font-size: 33px;
    color: #e6007e;
}
