/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-navy);
  --color-primary-variant: var(--color-purple);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-pink);
  --color-background: var(--color-white);

  /* Colors */
  --color-white: #ffffff;
  --color-navy: #0e4194;
  --color-blue: #0188cc;
  --color-pink: #e6007e;
  --color-purple: #662583;
  --color-gray: #a6a6a6;

  /* Size */
  --size-max-width: 1200px;
}

* {
  box-sizing: border-box;
  font-family: "GmarketSans";
}

body {
  margin: 0;
}

/* common */
.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}

/* Store Insert And Update */
#store__update {
  display: flex;
  height: 1116px;
  margin: auto;
}

.store__update {
  display: block;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  padding: 40px;
  /* width: 600px; */
  width: 500px;
  border: 3px solid var(--color-accent);
  border-radius: 50px;
}

#store__update__form {
  margin: 0;
}

/* .store__update__form {
  padding-left: 2.7rem;
} */

.store__label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.store__input {
  display: block;
  /* width: 63%; */
  width: 100%;
  padding: 0.5rem;
  border: 3px solid var(--color-primary);
  border-radius: 4px;
  font-size: 1.2rem;
}

.change__location {
  /* width: 17%; */
  width: 15%;
  border: none;
  border-radius: 4px;
  color: var(--color-background);
  background-color: #d9d9d9;
  font-size: 1rem;
  margin-left: 1rem;
  /* padding: 0.5rem; */
  cursor: pointer;
}

.store__type,
.store__payment,
.store__photo,
.store__category {
  display: flex;
  margin-bottom: 2rem;
}

.siau__h2 {
  margin: 0;
}

.category__label {
  display: flex;
  align-items: center;
}

.category__input {
  display: block;
  /* width: 270px; */
  width: 259px;
  padding: 0.5rem;
  /* margin-left: 1rem; */
  margin-left: 1.5rem;
  border: 3px solid var(--color-primary);
  border-radius: 4px;
  font-size: 1rem;
}

.store__type__title,
.store__payment__title,
.store__photo__title {
  padding-top: 5px;
  margin-right: 2rem;
}

.store__category__title {
  padding-top: 9px;
  margin-right: 1.9rem;
}

.store__type__button1,
.store__type__button2,
.store__payment__button1,
.store__payment__button2,
.store__payment__button3 {
  border: none;
  border-radius: 4px;
  background-color: var(--color-background);
  font-size: 1.3rem;
  margin-left: 1rem;
}

.store__type__button1:hover,
.store__type__button2:hover,
.store__payment__button1:hover,
.store__payment__button2:hover,
.store__payment__button3:hover {
  color: var(--color-background);
}

.store__type__button1:hover,
.store__type__button2:hover,
.store__payment__button1:hover,
.store__payment__button2:hover,
.store__payment__button3:hover {
  background-color: var(--color-primary-variant);
}

.active {
  background-color: var(--color-accent-variant);
  color: var(--color-background);
}

.store__photo__label {
  padding-top: 5px;
  border-bottom: 1px solid var(--color-gray);
  margin-left: 1.5rem;
}

.store__photo__preview {
  max-width: 200px;
  max-height: 200px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.store__update__button {
  width: 25%;
  height: 40px;
  font-size: 1.3rem;
  border-radius: 4px;
  border: none;
  color: var(--color-background);
  background-color: var(--color-primary);
  transition: all 0.15s linear;
  margin: 2rem 0 0;
}

.store__update__button:hover {
  background-color: var(--color-accent);
}
