/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-navy);
  --color-primary-variant: var(--color-purple);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-pink);
  --color-background: var(--color-white);

  /* Colors */
  --color-white: #ffffff;
  --color-navy: #0e4194;
  --color-blue: #0188cc;
  --color-pink: #e6007e;
  --color-purple: #662583;
  --color-gray: #a6a6a6;
  --color-reviewIcon: #d4cfd8;
  --color-starIcon: #fcd53f;

  /* Size */
  --size-max-width: 1200px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "GmarketSans";
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* common */
.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}

.storeDetail__hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
  width: 80%;
}

.storeDetail__h4 {
  margin: 0;
}

/* Store Detail */
.storeDetail__like {
	display: inline-block;
}




#storeDetail {
  width: 960px;
  text-align: center;
  margin-top: 10rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.storeDetail__info {
  display: block;
  font-size: 2rem;
  color: var(--color-gray);
  margin-bottom: 2rem;
}

.storeDetail__like {
  font-size: 2rem;
  color: var(--color-gray);
  border: none;
  background-color: var(--color-background);
  margin-right: 1rem;
}

.storeDetail__like:hover {
  color: red;
}

.storeDetail__modify {
  font-size: 1.5rem;
  color: var(--color-background);
  border: none;
  background-color: var(--color-primary);
  border-radius: 5px;
  margin-left: 1.5rem;
}

.storeDetail__modify:hover {
  background-color: var(--color-accent);
}

.storeDetail__star__name {
  display: flex;
  align-items: center;
  margin: 0 0 1rem 15rem;
  font-size: 1.5rem;
}

.storeDetail__star {
  margin-right: 5rem;
}

.storeDetail__starIcon {
  color: var(--color-starIcon);
}

.storeDetail__name {
  padding-top: 5px;
}

.storeDetail__storeType,
.storeDetail__payment,
.storeDetail__category {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 0 1rem 14.5rem;
  font-size: 1.3rem;
}

.storeDetail__storeType__title,
.storeDetail__payment__title,
.storeDetail__category__title {
  margin-right: 5rem;
}

.storeDetail__photo {
  display: block;
  margin-top: 1.5rem;
  margin-left: 17rem;
  height: 200px;
  width: 350px;
}

/* Review */
#review {
  width: 100%;
  text-align: center;
}

.review__info {
  display: block;
  font-size: 1.7rem;
  margin: 2.5rem 0 1.7rem;
}

.review__level {
  margin-right: 1rem;
}

.review__level__photo {
  width: 2rem;
  margin-right: 1rem;
  padding-top: 1rem;
}

.review__ask {
  margin-right: 2rem;
}

.review__star {
  color: var(--color-starIcon);
}

.review__star1:hover ~ .review__star2,
.review__star1:hover ~ .review__star3,
.review__star1:hover ~ .review__star4,
.review__star1:hover ~ .review__star5 {
  color: #e0e0e0;
}

.review__star2:hover ~ .review__star3,
.review__star2:hover ~ .review__star4,
.review__star2:hover ~ .review__star5 {
  color: #e0e0e0;
}

.review__star3:hover ~ .review__star4,
.review__star3:hover ~ .review__star5 {
  color: #e0e0e0;
}

.review__star4:hover ~ .review__star5 {
  color: #e0e0e0;
}

#review__form {
  margin-bottom: 2rem;
}

.review__form {
  margin-bottom: 0.5rem;
}

.review__input {
  width: 30rem;
  height: 20rem;
  border: 3px solid var(--color-accent);
  border-radius: 20px;
  text-align: center;
}

.review__button {
  font-size: 1rem;
  color: var(--color-background);
  border: none;
  background-color: var(--color-primary);
  border-radius: 5px;
}

.review__button:hover {
  background-color: var(--color-accent);
}

/* Review Contents */
#review__contents {
  width: 100%;
}

.review__contents__total {
  font-size: 1.3rem;
  margin: 0 0 0.5rem 10rem;
}

.review__contents__star {
  margin-right: 3rem;
}

.storeDetail__review {
  color: var(--color-reviewIcon);
}

.review__contents__list {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  margin: 1rem 10rem 1rem 10rem;
}

.review__contents__photo {
  color: var(--color-gray);
  grid-row: span 2;
  font-size: 2.5rem;
  padding: 10px 0 0 0;
}

.review__contents__img {
  margin-right: 2.5rem;
}

.review__contents__main {
  display: flex;
  justify-content: space-between;
}

.review__contents__name {
  font-weight: bolder;
}

.review__contents__ownerInfo {
  font-weight: bolder;
}

.review__contents__value {
  color: #7f7f7f;
}

/* Anchor */
.storeDetail__arrow-up {
  background-color: var(--color-background);
  color: black;
  text-decoration: none;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  text-align: center;
  box-shadow: gray 0px 3px 8px;
  transition: all 300ms ease-in;
}

.arrow-up__icon {
  padding: 0.7rem;
}
