/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-navy);
  --color-primary-variant: var(--color-purple);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-pink);
  --color-background: var(--color-white);

  /* Colors */
  --color-white: #ffffff;
  --color-navy: #0e4194;
  --color-blue: #0188cc;
  --color-pink: #e6007e;
  --color-purple: #662583;
  --color-gray: #a6a6a6;

  /* Size */
  --size-max-width: 1200px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "GmarketSans";
  margin: 0;
}

/* common */
.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}

/* Store Insert And Update */
#store__update {
  display: flex;
  height: 1116px;
  margin: auto;
}

.store__update {
  display: block;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  padding: 40px;
  width: 700px;
  border: 3px solid var(--color-accent);
  border-radius: 50px;
}

#store__update__form {
  margin: 0;
}

.store__update__form {
  padding-left: 6.3rem;
}

.store__label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.store__input {
  display: block;
  width: 50%;
  padding: 0.5rem;
  border: 3px solid var(--color-primary);
  border-radius: 4px;
  font-size: 1.5rem;
}

.change__location {
  width: 15%;
  border: none;
  border-radius: 4px;
  color: var(--color-background);
  background-color: #d9d9d9;
  font-size: 1rem;
  margin-left: 1rem;
  padding: 0.5rem;
}

.store__type,
.store__payment,
.store__photo,
.store__category3 {
  display: flex;
  margin-bottom: 1rem;
}

.siau__h2 {
  margin: 0;
}

.store__category,
.store__category2 {
  display: flex;
  margin-bottom: 0.5rem;
}

.store__category2,
.store__category3 {
  margin-left: 8.2rem;
}

.store__type__title,
.store__payment__title,
.store__category__title,
.store__photo__title {
  padding-top: 5px;
  margin-right: 2rem;
}

.store__type__button,
.store__payment__button,
.store__category__button,
.store__category__button2 {
  border: none;
  border-radius: 4px;
  background-color: var(--color-background);
  font-size: 1.3rem;
}

.store__type__button,
.store__payment__button,
.store__category__button {
  margin-left: 1rem;
}

.store__category__button2 {
  margin-left: 2.3rem;
}

.store__type__button:hover,
.store__payment__button:hover,
.store__category__button:hover,
.store__category__button2:hover {
  color: var(--color-background);
}

.store__type__button:hover {
  background-color: var(--color-accent-variant);
}

.store__payment__button:hover {
  background-color: var(--color-accent);
}

.store__category__button:hover,
.store__category__button2:hover {
  background-color: var(--color-primary-variant);
}

.store__photo__label {
  padding-top: 5px;
  border-bottom: 1px solid var(--color-gray);
  margin-left: 1rem;
}

.store__update__button {
  width: 20%;
  height: 40px;
  font-size: 1.3rem;
  border-radius: 4px;
  border: none;
  color: var(--color-background);
  background-color: var(--color-primary);
  transition: all 0.15s linear;
  margin: 1rem 0 0;
}

.store__update__button:hover {
  background-color: var(--color-accent);
}
